[Desktop Entry]
Encoding=UTF-8
Exec=fcardsaver
Icon=preferences-desktop-screensaver
X-KDE-ServiceTypes=ScreenSaver
X-KDE-Category=Miscellaneous
X-KDE-Type=
Type=Service
Actions=Setup;InWindow;Root;
Name=Flash Card Screensaver

[Desktop Action Setup]
Exec=fcardsaver -setup
Name=Setup...

[Desktop Action InWindow]
Exec=fcardsaver -window %w
Name=Display in specified window
NoDisplay=true

[Desktop Action Root]
Exec=fcardsaver -root
Name=Display in root window
NoDisplay=true
